<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatBreedsAppCondorLabs-mocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CatBreedsAppCondorLabs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>673DD501250DD99A003540A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673DD517250DD99D003540A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673DD522250DD99D003540A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673DD5DD250F06FD003540A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673DD626250F0723003540A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
